.homePage{
    background-image: var(--background-color);
    width: 100%;
    height: 100vh;
}
.profileContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: inherit;
    margin: 0 auto 0;
    max-width: 935px;
    flex-direction: column;
}
.profileInfo{
    margin-top: 35vh;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 100%;
    margin-bottom: 40px;
    align-items: stretch;
}
.profileAvatar{
    margin-right: 30px;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-clip: padding-box;
    border: 5px solid transparent;
    background-color: var(--background-color);
    border-radius: 100%;
    box-sizing: content-box; */
    cursor: pointer;
}
/* .profileAvatar::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    margin: -5px;
    background-image: var(--brand);
    border-radius: inherit;
    
} */
.logoBrand{
    height: 130px;
    width: 130px;
    border-radius: 100%;
}
.profileMain{
    flex-grow: 3;
    flex-basis: 30px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* justify-content: center; */
}
.profileName{
    color: var(--on-background);
    font-family: 'Neue Helvetica';
    font-weight: 500;
    font-size: 20px;
    /* margin-top: 10px; */
    margin-bottom: 15px;
}
.profileName span{
    font-weight: 300;
    font-size: 18px;
    margin-right: 2px;
}
.profileDesc h3{
    font-family: 'Neue Helvetica';
    font-weight: 700;
    font-style: normal ;
    font-size: 14px;
    margin-bottom: 8px;
}
.profileDesc{
    color: var(--on-background);
    /* opacity: .8; */
    font-family: 'Neue Helvetica';
    font-weight: 300;
    font-size: 14px;
}
.hashTag{
    text-decoration: none;
    color: var(--hashtag);
}
.socialMenu{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.socialMenu i{
    margin-right: 10px;
    cursor: pointer;
    color: var(--on-background-matte);
    transition: all .2s ease-out;
}
.socialMenu i:hover{
    color: var(--on-background);
    transition: all .2s ease-out;
}
.profileAvatar .ringOne{
    position: absolute;
    fill:none;
    stroke:url('#linearRing1');
    stroke-linecap: round;
    stroke-width: 3;
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
    /* filter: url(#glowRing); */
    animation: stroke-draw 1.5s ease-in 1 normal;
    /* animation: stroke-draw 5s linear 2 alternate;  */
} 
@keyframes stroke-draw {
    0%{
        stroke-dasharray: 8;
        /* transform: rotate(-200deg); */
    }
    100%{
        fill: transparent;
        stroke-dasharray: 1;
    }
}

.pageMenu{
    height: 130px;
    width: 100%;
    margin-bottom: 44px;
}
