.standardPost{
    display: flex;
    flex-direction: row-reverse;
}
.horizontalPost{
    width: 100%;
    height: 70vh;
}
.postCover.standard{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    flex: 0 0 400px;
    background-color: var(--surface-02);
}
.coverImage.standard{
    width: 100%;
    object-fit: cover;
    height: 900px;
    border-radius: 0%;
}
.fullTextContainer.standard{
    opacity: 1;
    transition: height .5s ease-out 0s;
    height: 100%;
    overflow: hidden;
    background-color: var(--surface-02);
    padding-bottom: 0;
    margin-bottom: 0;
    box-shadow: none;
}
.postArticle.standard{
    display: block;
    box-shadow: none;
    background-color: inherit;
    margin-bottom: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.postContent.standard{
    padding: 34px 55px 12px;
}
.postCat.standard{
    margin-top: 150px;
    margin-bottom: 20px;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    width: fit-content;
}
.postCat.standard a{
    color: var(--primary);
    font-family: 'Neue Helvetica';
    font-weight: 700;
    font-size: 15px;
}
.postTitle.standard{
    margin-bottom: 60px;
}
.postTitle.standard a{
    display: block;
    line-height: 120%;
    text-transform: uppercase;
    font-family: 'Neue Helvetica';
    font-weight: 500;
    font-size: 60px;
    text-decoration: none;
    color: var(--on-surface);
    width: 65%;
}
.postTextContainer.standard{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.postText.standard{
    font-family: 'Neue Helvetica';
    font-size: 15px;
    word-spacing: 1px;
    text-align: justify;
    color: var(--on-surface);
    width: 55%;
}
.postText.standard h1{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.5rem;

}
.postText.standard h2{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1.5rem;
}
.postText.standard p{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 1.5rem;
}
.postImage.standard{
    width: 690px;
}
.postImage.standard img{
    display: block;
    position: relative;
    left: -310px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 690px;
    width: auto;
    /* object-fit: cover; */
    margin-bottom: 5px;
    margin-top: 20px;
}
.postImage.standard figcaption{
    text-align: right;
    margin-bottom: 20px;
    font-size: 13px;
    font-style: italic;
}
.postInfoContainer{
    position: relative;
    display: flex;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.postInfo:first-child{
    text-align: left;
    padding: 30px 0 0;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.postInfo:last-child{
    padding: 30px 0 0;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    font: 200 12px 'Noto Sans SC', sans-serif;
}
.postDate{
    display: inline-block;
    padding-right: 12px;
    text-transform: uppercase;
    font-family: 'Neue Helvetica';
    font-weight: 400;
    font-size: 13px;
    color: var(--on-surface);
    word-spacing: 1px;
    opacity: .8;
}
.postSocial{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.postSocial button{
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    vertical-align: middle;
    margin-right: 12px;
    background-color: inherit;
    color: var(--on-surface);
    font-size: 13px;
    font-family: 'Neue Helvetica';
    font-weight: 400;
    opacity: .8;
}
.postInfo:last-child button{
    display: inline-block;
    padding-bottom: 3px;
    padding-right: 0px;
    padding-left: 5px;
}
.postSocial svg{
    stroke: var(--on-surface);
    stroke-width: 2px;
    height: 14px;
    width: 14px;
    margin-right: 5px;
}
.fbBtn svg {
    stroke: var(--on-surface);
    fill: var(--on-surface);
}
.insBtn svg {
    stroke: var(--on-surface);
    fill: var(--on-surface);
}
.twiBtn svg {
    stroke: var(--on-surface);
    fill: var(--on-surface);
    margin-right: 0;
}
.tagHolder{
    position: relative;
    text-align: left;
    padding: 0px 44px;
}
.tagHolder span{
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--on-surface);
    box-sizing: border-box;
    font: 500 14px 'Baloo 2', cursive;
    color: var(--on-surface);
    opacity: .6;
}

@media (max-width: 800px) {
    .postCat{
        font: 600 13px 'Noto Sans SC', sans-serif;
    }
    .postTitle{
        font: 400 20px 'Josefin Sans', sans-serif;
    }
    .postText{
        font: 300 12px 'Montserrat', sans-serif !important;
    }
}