.scrollToTop{
    height: 40px;
    width: 40px;
    z-index: 2;
    position: sticky;
    bottom: 5vh;
    margin-left: 1050px;
    background: linear-gradient(90deg, rgba(41,79,182,1) 0%, rgba(69,163,228,1) 100%);
    border-radius: 100%;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
.scrollToTop:hover{
    opacity: 1;
    transition: all .1s ease-in-out;
}
.scrollToTop svg{
    height: 40px;
}