/* Standard Video Page */
.standardVideo{
    position: fixed;
    z-index: 2;
    top: 5vh;
    left: 30vw;
    width: auto;
    height: 90vh;
}
.standardVideo .videoSrc{
    object-fit: contain;
    width: 100%;
    height: 100%;
    transition: 2s ease-out;
}
.videoOverlay{
    position: absolute;
    width: 100%;
    bottom: 0;
    /* transition: all .3s ease-in-out; */
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(5, 5, 5, 0.897) 100%);
    opacity: .8;
    border-radius: 0 0 15px 15px;
}
.videoOverlay.active{
    background: rgba(0, 0, 0, 0.5);
}
.fullScreen,.minorScreen{
    position: absolute;
    background-color: transparent;
    right: 10px;
    top: 10px;
    cursor: pointer;
    opacity: 0;
    transition: all .2s ease-in-out;
}
.fullScreen svg{
    height: 20px;
}
.fullScreen:hover {
    scale: 1.1;
}
.standardVideo:hover .fullScreen{
    opacity: 1;
    transition: all .2s ease-in-out;
}
.videoAudio{
    position: absolute;
    top: 10px;
    right: 40px;
}
.videoAudio button{
    background-color: transparent;
}
.videoAudio button:hover{
    scale: 1.1;
}
.videoInfo{
    z-index: 1;
    bottom: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    width: 85%;
    max-height: 100px;
    height: auto;
    transition: max-height .2s ease-in;
}
.videoCat{
    width: fit-content;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}
.videoCat img{
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.153);
    border-radius: 100%;
    height: 45px;
    width: 45px;
}
.videoCat span{
    padding-left: 5px;
    color: var(--on-background);
    font-size: 14px;
    font-weight: 500;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.285);
}

.videoInfo .videoTitle{
    width: 100%;
    display: block;
    padding-bottom: 10px;
}
.videoInfo .videoTitle h1{
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.285);
    color: var(--on-background);
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .5px;
}
.videoCapt{
    color: var(--on-background);
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-height: 1.2rem;
    /* -webkit-line-clamp: 1; */
    background: transparent;
    position: relative;
    height: auto;
}
.videoCapt::-webkit-scrollbar{
    width: 0;
    height: 0;
    background-color: transparent;
}
.shadow{
    position: sticky;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 40px;
}
.shadowTop{
    top: 0;
    background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.35), transparent);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35), transparent);
    opacity: 0;
}

.shadowBottom {
    bottom: 0px;
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.35), transparent);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.479), transparent);
}
.captWrapper.active {
    /* background-image: linear-gradient(transparent 45%, var(--on-background) 55%, var(--on-background) 85%, transparent 91%);
    -webkit-background-clip: text; 
    background-clip: text;
    background-attachment: fixed; */
    position: relative;
}
.videoSocial{
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 20px;
    bottom: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
}
.videoSocial span{
    color: var(--on-background);
    font-family: 'Neue Helvetica';
    font-size: 10px;
}
.videoSocial button{
    height: 35px;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
}
.videoSocial button svg{
    height: 35px;
}
.videoSocial button svg path{
    transition: all .1s ease-out;
    fill: none;
}
.videoSocial button:hover svg path{
    transition: all .1s ease-out;
    fill: rgba(72,149,239,1);
    stroke: rgba(72,149,239,1);
}
.videoIcon{
    filter: drop-shadow(0px 0px 2px #ffffff57);
    margin-top: 25px;
}