
/* Standard Video Page */
.standardVideo{
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: auto;
    height: 90vh;
    max-height: 90vh;
    /* min-width: 500px; */
}
.standardVideo .videoContainer{
    position: relative;
    height: 100%;
}
.videoSrc{
    position: relative;
    object-fit: contain;
    height: 100%;
    width: 100%;
    transition: 2s ease-out;
}
/* Square and Horizontal Video Page */
.otherVideo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 50%;
}
.otherVideo .videoContainer{
    position: relative;
    width: auto;
    height: 60vh;
    max-width: 90vw;
}
.otherVideo .videoSrc{
    position: relative;
    object-fit: contain;
    height: 100%;
    width: 100%;
    transition: 2s ease-out;

}
.videoOverlay{
    position: absolute;
    width: 100%;
    bottom: 0;
    /* transition: all .3s ease-in-out; */
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(5, 5, 5, 0.897) 100%);
    opacity: .8;
}
.playPause{
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 1;
    width: 70px;
    height: 70px;
    opacity: .8;
}
.videoOverlay.active{
    background: rgba(0, 0, 0, 0.5);
}
.fullScreen,.minorScreen{
    position: absolute;
    background-color: transparent;
    right: 10px;
    top: 10px;
    cursor: pointer;
    opacity: 0;
    transition: all .2s ease-in-out;
}
.fullScreen svg{
    height: 20px;
}
.fullScreen:hover {
    scale: 1.1;
}
.standardVideo:hover .fullScreen{
    opacity: 1;
    transition: all .2s ease-in-out;
}
.videoAudio{
    position: absolute;
    top: 20px;
    right: 20px;
}
.videoAudio button{
    background-color: transparent;
}
.videoAudio button:hover{
    scale: 1.1;
}
.videoInfo{
    z-index: 1;
    bottom: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    width: 85%;
    height: auto;
}
.videoCat{
    width: fit-content;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}
.videoCat img{
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.153);
    border-radius: 100%;
    height: 40px;
    width: 40px;
}
.videoCat span{
    padding-left: 5px;
    color: var(--on-background);
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.285);
}

.videoInfo .videoTitle{
    width: 100%;
    display: block;
    padding-bottom: 10px;
}
.videoInfo .videoTitle h1{
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.285);
    color: var(--on-background);
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .5px;
}
.videoCapt{
    width: 100%;
    transition: max-height .5s ease-in;
    color: var(--on-background);
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-height: 1.2rem;
    font-size: 15px;
}
.videoCapt::-webkit-scrollbar{
    width: 0;
    height: 0;
    background-color: transparent;
}
.captWrapper.fade {
    background-image: linear-gradient(white 85%, transparent 90%); 
    background-clip: text;
    background-attachment: fixed;
}
.otherVideo .captWrapper.fade {
    background-image: linear-gradient(white 72%, transparent 76%); 
    -webkit-background-clip: text; 
    background-clip: text;
    background-attachment: fixed;
}
.captWrapper.fade p{
    color: transparent !important;
    font-weight: 500;
}
.videographer{
    padding-top: 14px;
    height: 30px;
    color: var(--on-background);
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    letter-spacing: .5px;
}
.videoSocial{
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 20px;
    bottom: 20px;
    width: 30px;
    justify-content: center;
    align-items: center;
}
.videoSocial span{
    color: var(--on-background);
    font-family: 'Neue Helvetica';
    font-size: 11px;
}
.videoSocial button{
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
}
.videoSocial button svg{
    height: 30px;
}
.videoSocial button svg path{
    transition: all .1s ease-out;
    fill: none;
}
.videoSocial button:hover svg path{
    transition: all .1s ease-out;
    fill: rgba(72,149,239,1);
    stroke: rgba(72,149,239,1);
}
.videoIcon{
    filter: drop-shadow(0px 0px 2px #ffffff57);
    margin-top: 25px;
}