.fullpageWrapper{
    /* display: block; */
    position: relative;
    color: white;
    height: 100vh;
    min-width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    /*transform: rotate(-90deg) translateY(-100vh);
    transform-origin: right top; */
}
.imgWrapper{
    position: absolute;
    display: inline-block;
    /* transform: rotate(90deg);
    transform-origin: left top; */
}
.imgWrapper:first-child{
    top: 100px !important;
    left: 300px !important;
}

.imgContent{
    position: relative;
    display: block;
    
}
.imgDesc{
    position: absolute;
    /* opacity: 0; */
}
.imgWrapper:hover .imgDesc{
    opacity: 100%;
}
.imgDesc p{
    max-width: 250px;
    word-wrap: break-word;
    white-space: normal;
    font-size: 15px;
}
.imgCover{
    display: inline-block;
}
.imgCover img{
    /* width: 43vh */
}