.fullpageWrapper{
    display: block;
    position: relative;
    color: white;
    height: 1311px;
    min-height: 1311px;
    overflow: hidden;
}
.imgWrapper{
    position: absolute;
    display: inline-block;
}
.imgWrapper:first-child{
    top: 100px !important;
    left: 300px !important;
}

.imgContent{
    position: relative;
    display: block;
    
}
.imgDesc{
    position: absolute;
    /* opacity: 0; */
}
.imgWrapper:hover .imgDesc{
    opacity: 100%;
}
.imgDesc p{
    max-width: 250px;
    word-wrap: break-word;
    white-space: normal;
    font-size: 15px;
}
.imgCover{
    display: inline-block;
}
.imgCover img{
    /* width: 43vh */
}