.masonryItem{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    box-shadow: 2px 2px 3px 0 rgb(0 0 0 / 20%) ;
    transition: all .5s ease;
    padding: 4px;
}
.masonryItem:hover{
    box-shadow: 8px 8px 10px 0 rgb(0 0 0 / 20%) ;
    /* transform: scale(1.01); */
    transition: all .5s ease;
}
.layoutPost.masonryItem{
    /* transition-delay: .5s; */
    height: 245px;
}
.masonryItem.active{
    grid-column: auto / span 2;
    transform: none !important;
    height: fit-content !important;
}
.upperWrapper{
    height: 245px;
}
.upperWrapper.active{
    height: 500px;
}
.imageContainer{
    left: 75%;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    background: center center;
    background-size: cover;
    transform: translateX(-50%);
    transition: background-size 3s cubic-bezier(.18,.89,.32,1.48);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: left .3s cubic-bezier(.18,.89,.32,1.48);
}
.imageContainer.active{
    left: 50% !important;
    width: 100% !important;
    height: 500px !important;
    transition: left 0.4s ease-out 0s;
}
.imageContainer a{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.descriptionContainer{
    position: absolute;
    width: 50%;
    height: inherit;
    background-color: var(--surface);
    top: 0;
    left: 0;
    transition: left .25s ease-in-out;
    box-sizing: border-box;
    padding: 16px;
}
.descriptionContainer.active{
    left: -50%;
    transition: left .4s ease-out 0s;
}
.descriptionContainer::after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 30px;
    left: 100%;
    border-left: 10px solid #fff;
}
.descriptionContainer::before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 30px;
    right: 100%;
    border-left: 14px solid #fff;
}
.postSum{
    display: block;
    position: relative;
    height: 80%;

}
.postCat{
    margin-bottom: 10px;
    color: var(--on-surface);
    text-transform: uppercase;
    font: 600 10px 'Noto Sans SC', sans-serif;
    letter-spacing: 3px;
}
.postCat a{
    text-decoration: none;
    color: inherit;
}
.postTitle{
    margin-bottom: 10px;
    text-transform: uppercase;
    font: 400 15px 'Josefin Sans', sans-serif;
    line-height: 120%;
    color: var(--on-background);
}
.postTitle:hover{
    text-shadow: 2px 2px 15px gray;

}
.postTitle a{
    text-decoration: none;
    color: inherit;
}
.postDes{
    font: 300 12px'Montserrat', sans-serif;
    /* line-height: 0px; */
    margin-bottom: 10px;
    height: 43%;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--on-surface);
}
.readMore{
    display: inline-block;
    margin-bottom: 5px;
    padding: 4px 8px;
    background-color: var(--primary);
    color: var(--on-primary);
    /* border: 2px solid var(--on-surface); */
    position: relative;
    text-transform:capitalize;
    text-decoration: none;
    font: 500 11px 'Lora', serif;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    border-radius: 2px;
}
.readMore:hover{
    background-color: var(--secondary);
    /* border: 2px solid black; */
}
.postInfo{
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex: 1 1;
}
.postDate{
    padding-right: 9px;
    text-transform: capitalize;
    font: 200 11px 'Noto Sans SC', sans-serif;
    color: var(--on-surface);
}
.postSocial{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.likeBtn{
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    background-color: var(--surface);
}
.likeBtn svg{
    stroke: var(--on-surface);
    stroke-width: 1px;
    height: 13px;
    width: 13px;
    padding-bottom: 1px;
}
.likeBtn span{
    color: var(--on-surface);
    font: 200 11px 'Noto Sans SC', sans-serif;
    padding-right: 12px;
}
.likeBtn:hover svg{
    opacity: 1;
}
.likeBtn:hover span{
    color: black;
}
@media (max-width: 720px) {
    .masonryItem.active{
        grid-column: auto / span 1;
    }
}